{% extends 'falcon_base.html' %}
{% load static i18n account %}
{% block content %}
<div class="container" data-layout="container">
  <div class="row flex-center min-vh-100 py-6">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
      <a class="d-flex flex-center mb-4" href="{% url 'home' %}">
        <img src="{% static 'app/img/chantiermobile-logo.svg' %}" alt="ChantierMobile" width="200">
      </a>
      <div class="card">
        <div class="card-body p-4 p-sm-5">
          {% if confirmation %}
            {% user_display confirmation.email_address.user as user_display %}
            <h5 class="text-center mb-3">{% trans "Confirmer l'adresse e-mail" %}</h5>
            <p class="fs--1 text-600 text-center">
              {% blocktrans with email=confirmation.email_address.email %}Merci de confirmer que <b><a href="mailto:{{ email }}">{{ email }}</a></b> est bien l'adresse e-mail de l'utilisateur <b>{{ user_display }}</b>.{% endblocktrans %}
            </p>
            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary d-block w-100">{% trans "Confirmer" %}</button>
            </form>
          {% else %}
            {% url 'account_email' as email_url %}
            <h5 class="text-center mb-3">{% trans "Lien invalide" %}</h5>
            <p class="fs--1 text-600 text-center">
              {% trans "Ce lien de confirmation a expiré ou est invalide." %}
            </p>
            <a href="{% url 'home' %}" class="btn btn-primary d-block w-100 mt-3">{% trans "Accueil" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
