{% extends 'base.html' %}
{% load static %}

{% block body_class %}auth-pages{% endblock %}

{% block top_nav %}{% endblock %}

{% block content %}
<section>
  <div class="logo">
    <img src="{% static 'falcon/assets/img/logos/cran/png/logo.png' %}" alt="" width="200">
  </div>
  <div class="box forgotten-box text-center">
    <form id="frmForgottenPassword" method="POST" action=".">{% csrf_token %}
      <h1>Reset Your Password</h1>
      <div class="form-group">
        {{ form.email }}{{ form.email.errors }}
      </div>
      <button type="submit" class="m-button m-button-venice-blue">Send</button>
    </form>
  </div>
</section>
{% endblock %}
