{% extends 'falcon_base.html' %}
{% load static i18n %}
{% block content %}
<div class="container" data-layout="container">
  <div class="row flex-center min-vh-100 py-6">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
      <a class="d-flex flex-center mb-4" href="{% url 'home' %}">
        <img src="{% static 'app/img/chantiermobile-logo.svg' %}" alt="ChantierMobile" width="200">
      </a>
      <div class="card">
        <div class="card-body p-4 p-sm-5">
          {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <h5 class="text-center mb-3">{% trans "Lien invalide" %}</h5>
            <p class="fs--1 text-600 text-center">
              {% blocktrans %}Le lien de réinitialisation était invalide, probablement parce qu'il a déjà été utilisé. Merci de demander une <a href="{{ passwd_reset_url }}">nouvelle réinitialisation</a>.{% endblocktrans %}
            </p>
          {% else %}
            {% if form %}
              <h5 class="text-center mb-3">{% trans "Nouveau mot de passe" %}</h5>
              <form method="POST" action="{{ action_url }}">{% csrf_token %}
                <div class="text-warning">
                  {% for error in form.non_field_errors %}{{ error }}{% endfor %}
                </div>
                <div class="mb-3">
                  {{ form.password1 }}{{ form.password1.errors }}
                </div>
                <div class="mb-3">
                  {{ form.password2 }}{{ form.password2.errors }}
                </div>
                <button type="submit" class="btn btn-primary d-block w-100">{% trans "Envoyer" %}</button>
              </form>
            {% else %}
              <div class="text-center">
                <div class="fs-5 text-success mb-3"><span class="fas fa-check-circle"></span></div>
                <h5>{% trans "Mot de passe modifié" %}</h5>
                <p class="fs--1 text-600">{% trans "Votre mot de passe a bien été changé." %}</p>
                <a href="{% url 'home' %}" class="btn btn-primary d-block w-100 mt-3">{% trans "Accueil" %}</a>
              </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
