{% extends 'falcon_base.html' %}
{% load static i18n %}
{% block content %}
<div class="container" data-layout="container">
  <div class="row flex-center min-vh-100 py-6">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
      <a class="d-flex flex-center mb-4" href="{% url 'home' %}">
        <img src="{% static 'app/img/chantiermobile-logo.svg' %}" alt="ChantierMobile" width="200">
      </a>
      <div class="card">
        <div class="card-body p-4 p-sm-5 text-center">
          <div class="fs-5 text-success mb-3"><span class="fas fa-check-circle"></span></div>
          <h5>{% trans "Mot de passe modifié" %}</h5>
          <p class="fs--1 text-600">{% trans "Votre mot de passe a bien été changé." %}</p>
          <a href="{% url 'account_login' %}" class="btn btn-primary d-block w-100 mt-3">{% trans "Se connecter" %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
