{% extends 'base.html' %}
{% load static %}

{% block body_class %}auth-pages{% endblock %}

{% block top_nav %}{% endblock %}

{% block content %}
<section>
  <div class="logo">
    <img src="{% static 'falcon/assets/img/logos/cran/png/logo.png' %}" alt="" width="200">
  </div>
  <div class="box forgotten-box text-center">
      <h1>Password reset sent</h1>
      <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
      If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
      <br>
      <p class="text-center">
        <a href="{% url 'home' %}" class="m-button m-button-venice-blue">Home</a>
      </p>       
  </div>
</section>
{% endblock %}
