{% extends 'falcon_base.html' %}
{% load static i18n %}
{% block content %}
      <div class="container" data-layout="container">
        <script>
          var isFluid = JSON.parse(localStorage.getItem('isFluid'));
          if (isFluid) {
            var container = document.querySelector('[data-layout]');
            container.classList.remove('container');
            container.classList.add('container-fluid');
          }
        </script>
        <div class="row flex-center min-vh-100 py-6">
          <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
            <a class="d-flex flex-center mb-4" href="{% url 'home' %}">
              <img src="{% static 'app/img/chantiermobile-logo.svg' %}" alt="ChantierMobile" width="200">
            </a>
            <div class="card">
              <div class="card-body p-4 p-sm-5">
                <div class="row flex-between-center mb-2">
                  <div class="col-auto">
                    <h5>{% trans "Sign up" %}</h5>
                  </div>
                  <div class="col-auto fs--1 text-600"><span class="mb-0 undefined">{% trans "Have an account?" %}</span> <span><a href="{% url 'account_login' %}">{% trans "Login" %}</a></span></div>
                </div>
                <form id="frmAccountRegistration" method="POST" action="{% url 'account_signup' %}" class="row g-3 needs-validation" novalidate="">{% csrf_token %}
                  <p>                                                                                    
                  {% for error in form.non_field_errors %}
                    <span style="color: red;" >{{ error }}</span>
                  {% endfor %}           
                  </p>              
                  <div class="mb-3">
                    {{ form.first_name }}{{ form.first_name.errors }}
                    <div class="invalid-feedback"></div>
                  </div>
                  <div class="mb-3">
                    {{ form.last_name }}{{ form.last_name.errors }}
                    <div class="invalid-feedback"></div>
                  </div>                  
                  <div class="mb-3">
                    {{ form.email }}{{ form.email.errors }}
                    <div class="invalid-feedback"></div>
                  </div>                  
                  <div class="row gx-2">
                    <div class="mb-3 col-sm-6">
                      {{ form.password1 }}{{ form.password1.errors }}
                      <div class="invalid-feedback"></div>
                    </div>                    
                    <div class="mb-3 col-sm-6">
                      {{ form.password2 }}{{ form.password2.errors }}
                      <div class="invalid-feedback"></div>                      
                    </div>                    
                  </div>                  
                  <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Sign up</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  {% endblock %}


 