{% extends 'email/base.html' %}
{% load account i18n %}
{% block email-header %}Reset Your Password{% endblock %}

{% block content %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
<p style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;margin-bottom: 30px;font-weight: normal;font-size: 13px;line-height: 1.6;color: #999999;">
    Hello from the <b>{{ site_name }}</b>!
</p>

<p style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 13px;line-height: 1.6;color: #999999;">
    You're receiving this e-mail because you or someone else has requested a password for your user account at {{ site_domain }}. 
</p>

<p style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 13px;line-height: 1.6;color: #999999;">
    To confirm, please click on the reset button below to reset your password.
</p>

<a href="{{ password_reset_url }}" target="_blank" style="display: inline-block; color: #ffffff; background-color: #3498db; border: solid 1px #3498db; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #3498db;">Reset</a> 

<p style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 13px;line-height: 1.6;color: #999999;">
    It can be safely ignored if you did not request a password reset.{% endblocktrans %}
</p>

<p style="margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;margin-bottom: 10px;margin-top: 30px;font-weight: normal;font-size: 13px;line-height: 1.6;color: #999999;">
    Regards,<br/>
    The CMC Team
</p>
{% endblock %}
